    body{
        background-color: lightslategray;
        display:flex;
        justify-content: center;
        margin: 20px;
    }
    form{
        width: 16%;
        font-family: Oswald;
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        margin:18px;
    }
    h1{
        margin-top: 30px;
    }
    .submit{
        background-color: green;
    }
    .reset{
        background-color: red;
    }
    button{
        color: white;
        padding: 3px;
    }
    input{
        margin:5px;
    }
    h1{
        text-align: center;
    }
    .textfields{
        width: 100%;
        padding:0px;
        margin: 0px;
    }
    button{
        border: none;
        width: 70px;
    }